.goBack {
  background: transparent;
  border: 0;
}

input {
  text-align: center;
  height: 75px;
  width: 300px;
  font-size: 35pt;
}

input::placeholder {
  text-align: center;
}

.respuestas {
  background-color: #8dabc5;
  margin: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10px;
  padding-bottom: 30px;
  width: ;
}

.iRespuestas {
  background: transparent;
  border: 0;
}

.answerButton {
  height: 40px;
}
