.goBack {
  background: transparent;
  border: none;
  font-size: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 1%;
  margin-left: 47%;
  color: #267de0;
  transition: all .5s ease-out;
}

.goBack:hover {
  color: #941212;
  transition: all .5s ease-out;
}

.playGoBack {
  margin-left: 90%;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.h1yboton {
  margin-left: 38%;
  margin-bottom: 1%;
  display: flex;
}

input {
  text-align: center;
  height: 65px;
  width: 300px;
  font-size: 25pt;
  border-radius: 25px;
  outline: none;
  border: 0;
}

input::placeholder {
  text-align: center;
  font-size: 35pt;
}

.agregarPregunta {
  width: 600px;
  height: 48px;
}

#subject {
  background-color: #941212;
  color: white;
  margin-top: 2%;
  text-align: center;
  font-size: 25pt;
  border-radius: 25px;
  outline: none;
  border: 0;
  width: 25vw;
  height: 10vh;
  transition: all .5s ease-out;
}

#subject:hover{
  background-color: white;
  border: #267de0 solid 5px;
  color: #267de0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30vw;
  height: 12vh;
  transition: all .5s ease-out;
}

.respuestas {
  background-color: #8dabc5;
  margin: 2%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 25px;
}

.iRespuestas {
  background: transparent;
  border: 0;
  margin-right: 20%;
  height: 50px;
}

.answerButton {
  width: 30px;
  height: 30px;
  margin-top: 3%;
  margin-left: 100px;
  cursor: pointer;
  font-size: 22px;
}

.publicarButton {
  text-align: center;
  border-radius: 25px;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: #267de0;
  color: white;
  width: 12vw;
  height: 10vh;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 300;
  transition: all .5s ease-out;
}

.publicarButton:hover{
  background-color: white;
  border: #941212 solid 5px;
  color: #941212;
  width: 20vw;
  height: 11vh;
  font-weight: 700;
  transition: all .5s ease-out;
}
